.Contact {
  margin-top: 3em;
  padding: 0 1em;

  @include from(l) {
    margin-top: 6.927083333333333vw;
    padding: 0 get-vw(120px) 0 get-vw(170px);
  }
  &__title {
    color: #969696;
    letter-spacing: 3px;
    font-size: 2em;
    text-transform: uppercase;
    margin-bottom: 0.8em;
    text-align: center;
    @include from(l) {
      // transform: translateX(-100%);
      // left: 100%;
      // position: relative;
      // text-align: left;
      // display: table;
      font-size: 3.645vw;
      margin-bottom: 4.583vw;
    }
  }
  &__span {
    @include to(l) {
      margin-left: 0.5em;
    }
    @include from(l) {
      display: block;
    }
  }
  &__subtitle {
    // padding: 0 1.5em;
    color: #808080;
    margin-bottom: 1.5em;
    font-weight: 300;
    text-align: center;
    line-height: 1.2;
    @include from(l) {
      line-height: 1;
      text-align: left;
      // padding: 0 6.40625vw;
      font-size: get-vw(38px);
      margin-bottom: 2.34375vw;
    }
  }
  &__grid {
    color: #5f6d76;
    @include from(l) {
      padding: 0 get-vw(70px);
      display: grid;
      grid-template-columns: get-vw(514.1997px) 1fr;
      column-gap: get-vw(119px);
    }
  }
  &__img {
    @include to(l) {
      margin-bottom: 1em;
    }
  }
  &__adresses {
    margin-top: 1.5em;
    font-size: 0.8rem;
    h3 {
      font-size: inherit;
      margin-bottom: 0;
    }
    @include from(l) {
      font-size: get-vw(18px);
    }
  }
  &__offices {
    margin-bottom: 1em;
  }
  &__text {
    @include from(lg) {
      // background: red;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
}
.input-group {
  margin-bottom: 0.75em;
  @include from(l) {
    margin-bottom: get-vw(31px);
  }

  input,
  textarea {
    border: 1px solid rgba(#5f6d76, 0.3);
    line-height: 2em;
    font-size: 0.9em;
    color: inherit;
    padding-left: 0.5em;
    padding-right: 0.5em;
    @include from(l) {
      line-height: get-vw(37px);
    }
  }
  textarea {
    resize: none;
    line-height: 1.2;
    height: 100px;
    @include from(lg) {
      height: get-vw(170px);
    }
    @include from(2xl) {
      height: get-vw(249px);
    }
  }
  label {
    font-size: 0.9em;
    margin-bottom: 0.3em;
  }
  &--textarea {
    // opacity: 0;
    margin-bottom: 0;
  }
}
.Form {
  margin-bottom: 0;
  @include from(lg) {
    padding-top: get-vw(36px);
    padding-right: get-vw(120px);
  }
  &__notes {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    img {
      width: auto;
      height: 1em;
      scale: 2.5;
      display: none;
      &.show {
        display: block;
      }
    }
  }
  &__grid {
    @include from(lg) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: get-vw(30px);
    }
  }
  &__footer {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 1em;
    button {
      font-family: var(--heading-font);
      color: #5f6d76;
      background: transparent;
      border: none;
      text-transform: uppercase;
      padding: 0;
      line-height: 1;
      font-size: inherit;
    }
  }
}
.Contact__img {
  @include from(lg) {
    // aspect-ratio: 1/1.2;
    img {
      width: 100%;
      height: get-vw(667px);
      object-fit: cover;
      object-position: center;
    }
  }
  @include from(xl) {
    // aspect-ratio: 1/1.2;
    img {
      height: get-vw(667px);
    }
  }
}
.dialog {
  border: 2px solid darkgreen;
  // background: #f0fdf4;
  padding: 4em;
  box-shadow: 5px 5px 16px rgba(darkgreen, 0.3);
  &__close {
    position: absolute;
    right: 1em;
    top: 1em;
    border: none;
    background: transparent;
  }
  &__container {
    display: flex;
    align-items: center;
    column-gap: 2em;
    svg {
      stroke: darkgreen;
      fill: darkgreen;
      width: 3em;
      height: 3em;
    }
  }
  &.error {
    border-color: darkred;
    box-shadow: 5px 5px 16px rgba(darkred, 0.3);
    svg {
      stroke: darkred;
      fill: darkred;
    }
  }
}
