.Hero {
  --percent: 70%;
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
  @include from(l) {
    --percent: 88.4861407249467%;
  }
  background-image: linear-gradient(
    #f6ecdf var(--percent),
    #fff var(--percent)
  );
  // background: lime;
  &__container {
    @include from(l) {
      height: 49vw;
    }
    img,
    picture {
      // display: none;
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}
