.Retrailers {
  // pt-12 md:pt-[11.14583333333333vw];
  margin-top: 3rem;
  @include from(m) {
    margin-top: 11.14583333333333vw;
  }
  &__title {
    text-align: center;
    font-size: 1.5em;
    color: var(--color-title);
    letter-spacing: 3px;
    margin-bottom: 0;
    // margin-bottom: 10;
    @include from(m) {
      margin-bottom: 0;
      // margin-bottom: get-vw(113px);
      font-size: get-vw(70px);
    }
  }
  &__subtitle {
    // text-center text-xl md:text-[2.1vw] mt-[5px] leading-[1em] text-[#414042] mb-12 md:mb-5.208333333333333vw] text-light
    color: #414042;
    text-align: center;
    font-size: 1.3em;
    letter-spacing: 3px;
    color: var(--color-title);
    margin-bottom: 3em;
    @include from(m) {
      font-size: 2.1vw;
      margin-bottom: 5.208333333333333vw;
    }
  }
  &__map {
    background: #edece7;
    padding: 3em 1.5em;
    @include from(m) {
      padding: get-vw(140px) get-vw(291px);
    }
  }
}
