*,
*::before,
*:after {
  box-sizing: border-box;
}
:root,
body,
#root {
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: $body-font;
  display: flex;
  flex-direction: column;
  background-color: $body-bg;
  color: $font-color;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;
  text-decoration: none;
  display: inline-block;

  &:hover {
    text-decoration: none;
  }
}

a:active,
a:active * {
  outline: none !important;
}

a:focus,
a:focus * {
  outline: none !important;
}

figure {
  margin: 0;
  padding: 0;
}

label,
input,
textarea {
  display: block;
  width: 100%;
  font-family: inherit;
}

input,
textarea {
  &:focus {
    box-shadow: none;
    outline: none;
  }
}

ul {
  @extend %list-style;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  letter-spacing: var(--letterSpacing);
  line-height: 1em;
}
p:only-child,
p:last-child {
  margin-bottom: 0;
}
*:target {
  scroll-margin-top: calc(var(--header-height) + 2em);
}
