section {
  margin: 0;
}
.container {
  width: 92.90047916666667%;
  height: inherit;
  margin-left: auto;
  margin-right: auto;
}
.container1 {
  width: 87.03125%;
  height: inherit;
  margin-left: auto;
  margin-right: auto;
}
.img-op-center {
  display: block;
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
}
.ls-3 {
  letter-spacing: 3px;
}
